* { font-family: 'Work Sans', sans-serif; color: #555; }
h1 { font-family: 'Concert One', cursive; color: black; }
#content { width: 1200px; }
#content img { display: block; margin-left: auto; margin-right: auto; }